.material-icons {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

/** coeur **/
.position__index {
padding: 15px 20px 0px;
}

.favorite__position {
    position: relative;
}
.favorite {
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    opacity: 0%;
    transition: 0.4s ease-in-out;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.favorite__position:hover .favorite {    
    opacity: 100%;               
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.add__favorite {    
    font-size: 30px;
    cursor: pointer;
    position: relative;    
    transition: 0.4s ease-in-out;                     
    -webkit-background-clip: text;
    background-clip: text;
}
.favorite__position:hover .add__favorite {
    opacity: 0;
}


/** slide des plats **/
.menu__form--content {
    cursor: pointer;
    animation: slide-in-right 1s forwards;;
    opacity: 0;
}

.menu__form--content:nth-child(2) {animation-delay: 200ms;}
.menu__form--content:nth-child(3) {animation-delay: 400ms;}
.menu__form--content:nth-child(4) {animation-delay: 600ms;}
.menu__form--content:nth-child(5) {animation-delay: 800ms;}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
/** animation check icone sur les menus **/
.check__icon--position {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    opacity: 0;
    background-color:  #99e2d0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.menu__form--content:hover .check__icon--position {
    opacity: 100%;
    width: 60px;    
}

.check-icon {
    cursor: pointer;
    display: inline-block;
    color: white;    
    font-size: 2rem;
    transition: transform 0.4s ease-in-out; 
    margin-right: 2px;
}

.menu__form--content:hover .check-icon {
    color: white;
    transform: rotate(-360deg)
}




